/*General Classes and Stuff */

*{
	margin: 0;
	padding: 0;
	font-family: 'Century Gothic';
}

/* Borrowed from https://css-tricks.com/transitions-only-after-page-load/ */
/* Fixes the preload modal box issue */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/* I don't like the default button look, so I changed it a bit */
.prettyButton {
	padding: 5px;
	border-radius: 3px;
	border-style: single;
	border-width: 1px;
	background-color: #CCCCCC;
	font-family: "Century Gothic";
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.prettyButton:hover {
	background-color: #B8B8B8;
}

.outside{
	position: fixed;
	background-color: rgba(128, 128, 128, 0.2);
	z-index: 9000;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

html{
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: #70bg32;
	background-repeat:no-repeat;
}

/* Navigation Bar */
.navBar{
	position: relative;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #000029;
	box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5); /* I use rgba here for transparency */
}

#HP.navBar{
	display: none;
}

.navBar a{
	position: relative;
	text-decoration: none;
	display: inline-block;
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	border-radius: 15px;
	font-family: 'Trebuchet MS';
}

.navBarRight{
	position: relative;
	float: right;
	list-style-type: none;
	right: 4%;
	display: -webkit-box;
}

.navBarRight > li {
	display: inline;
	margin: 0px;
}

.navBarRight a{
	position: relative;
	top: 5px;
	background-color: #3D5C99;
}

.navBarRight a:hover{
	position: relative;
	background-color: #334C80;
}

.navBar a:link{
	color: white;
}

.navBar a:visited{
	color: white;
}

#home{
	background-color: #3D7A99;
	text-align: center;
	left: 10%;
	font-size: 25px; 
	border-radius: 25px;
}

#home:hover{
	background-color: #5CE68A;
}

#userSite {
	background-color: #3D6629;
}

#userSite:hover {
	background-color: #2E4C1F;
}

#gitLink {
	background-color: #804C80;
}

#gitLink:hover{
	background-color: #663D66;
}

/* General user-site directory stylings */
.USdirHeading {
	margin-top: 5%;
	text-align: center;
}

.userDir li{
	list-style-type: none;
}

.userDir  ul{
	display: none;
}

.userDir a{
	color: black;
	text-decoration:none;
}
	
.userDir > li{
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-style: none;
	border-width: 1px;
	border-bottom-style: solid;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 40%;
	text-align: center;
}


.siteDir  a:hover{
	color: green;
}

.siteDir{
	display: none;
}

/* About Us Formatting */
.centerText {
	width: 50%;
	text-indent: 50px;
	margin-left: auto;
	margin-right: auto;
}

#bordered {
	border-bottom-style: solid;
	border-width: 1px;
}