/*General Classes and Stuff */

*{
	margin: 0;
	padding: 0;
	font-family: 'Century Gothic';
}

/* Borrowed from https://css-tricks.com/transitions-only-after-page-load/ */
/* Fixes the preload modal box issue */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/* I don't like the default button look, so I changed it a bit */
.prettyButton {
	padding: 5px;
	border-radius: 3px;
	border-style: single;
	border-width: 1px;
	background-color: #CCCCCC;
	font-family: "Century Gothic";
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.prettyButton:hover {
	background-color: #B8B8B8;
}

.outside{
	position: fixed;
	background-color: rgba(128, 128, 128, 0.2);
	z-index: 9000;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

html{
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: #70bg32;
	background-repeat:no-repeat;
}

/*Background Templates*/
/* Template 1*/
html.t1{
	background: -webkit-linear-gradient(#CCCCCC, #D6D6D6); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#CCCCCC, #D6D6D6); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#CCCCCC, #D6D6D6); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#CCCCCC, #D6D6D6); /* Standard syntax */
}

/* Template 2*/
html.t2 {
	background: -webkit-linear-gradient(#19A3FF, #4DB8FF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#19A3FF, #4DB8FF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#19A3FF, #4DB8FF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#19A3FF, #4DB8FF); /* Standard syntax */
}

/* Template 3*/
html.t3 {
	background-repeat:no-repeat;
	background: -webkit-linear-gradient(#FF0066, #FF3385); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FF0066, #FF3385); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FF0066, #FF3385); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FF0066, #FF3385); /* Standard syntax */
}

/*Fix the following gradients later */
/* Template 4*/
html.t4 {
	background: -webkit-linear-gradient(#33CC33, #FFFFFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#33CC33, #FFFFFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#33CC33, #FFFFFF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#33CC33, #FFFFFF); /* Standard syntax */
}

/* Template 5*/
html.t5 {
	background: -webkit-linear-gradient(#FF3300, #FFFFFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FF3300, #FFFFFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FF3300, #FFFFFF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FF3300, #FFFFFF); /* Standard syntax */
}
/*Styling Placeholder Text */
/*Base code from http://coolestguidesontheplanet.com/styling-placeholder-text-input-fields-forms-css/ */
::-webkit-input-placeholder {
	font-size: 14px;
	color: rgb(0, 0, 0, 0.3);
	text-align: left;
	font-weight: bold;
}
:-moz-placeholder { /* older Firefox*/
	font-size: 14px;
	color: rgb(0, 0, 0, 0.3);
	text-align: left;
	font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */ 
	font-size: 14px;
	color: rgb(0, 0, 0, 0.3);
	text-align: left;
	font-weight: bold;
} 
:-ms-input-placeholder { 
	font-size: 14px;
	color: rgb(0, 0, 0, 0.3);
	text-align: left;
	font-weight: bold;
}

/*Website Editor*/

/*First Instructions*/

#titleContainer{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(128, 128, 128, 0.2);
	z-index: 9000;
	display: none;
}

#titleInstruc{
	position: relative;
	text-align: center;
	margin-top: 15%;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	z-index: 9001;
}

#title{
	position: relative;
	margin-top: 2%;
	height: 5%;
	width: 20%;
	left: 40%;
	z-index: 9001;
	font-size: 20px;
}

#finish {
	position: relative;
	display: block;
	margin-top: 2%;
	width: 10%;
	left: 45%;
	z-index: 9001;
}

.otherInstruc {
	position: relative;
	margin-top: 2%;
	text-align: center;
	z-index: 9001;
	display: none;
}

#oI1 {
	margin-top:2%;
}

#oI2 {
	margin-top:2%;
}

/*Heading Stylings */
#headingDisplay.s1{
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -150px;
	text-align: center;
	font-size: 24px;
	height: 50px;
	width: 300px;
	margin-bottom: 40px;
	background-color: transparent;
	border: 0px;
	display: none;
}

#headingDIV{
	display: none;
	z-index: 9001;
}

#heading{
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -150px;
	text-align: center;
	font-size: 24px;
	height: 50px;
	width: 300px;
	z-index: 9001;
}

/*Sidebar Stylings */
#insertSB {
	position: absolute;
	top: 15%;
	left: 1%;
	width: 30%;
	display: none;
}

#sB-nameDisplay{
	display: inline;
	font-size: 20px;
}

#sB-nameDisplay:hover{
	font-size: 20px;
	color: #3D3D5C;
	opacity: .75;
}

#sB-name{
	display: none;
}

#sB-name input{
	position: fixed;
	left: 1%;
	z-index: 9001;
	top: 15%;
	width: 16%;
	height: 4%;
	font-size: 20px;
}

#addSidebarInstruction {
	display: inline;
	height: 20px;
	width: 20px;
	border-radius: 25px;
	border-style: none;
}

#addSidebarInstruction:hover{
	background-color: #808080;
}

.sBInputVal{
	display: none;
	position: fixed;
}

.sBInputVal input{
	z-index: 9001;
}

#sBInput h1{
	font-size: 15px;
	width: 300px;
	word-wrap: break-word;
}

#sBInput h1:hover{
	font-size: 15px;
	color: #3D3D5C;
	opacity: .75;
}


#sB-text.s1{
	position: relative;
	width: 50%;
	margin: 1px;
	background-color: white;
	border-style: solid;
	border-width: single;
	border-radius: 5px;
}

#sB-link.s1{
	position: relative;
	width: 50%;
	margin: 1px;
	background-color: white;
	border-style: solid;
	border-width: single;
	border-radius: 5px;
}

#alert{
	position: fixed;
	top: 10%;
	margin: 1px;
	background-color: white;
	border-style: single;
	border-width: 1px;
	border-radius: 7px;
	padding: 3px;
	font-size: 20px;
	display: none;
}
/*Deprecated
#sB.s1{
	position: relative;
	list-style-type: none;
	margin: 1px;
	background-color: transparent;
	border-width: 0px;
}
*/

/*Main Text Stylings */
/*Though the m-text input and output are very similar, they are split to make the javascript a bit easier to write. Otherwise, I would have to provide child tags */
#m-textInput.s1{
	position: fixed;
	left: 23%;
	width: 75%;
	height: 75%;
	top: 15%;
	background-color: #FFFFFF;
	border-style: groove;
	border-width: 2px;
	resize: none;
	z-index: 9001;
}

#m-textOutput.s1{
	position: absolute;
	left: 23%;
	width: 75%;
	height: 75%;
	top: 15%;
	background-color: #FFFFFF;
	border-width: 2px;
	border-style: groove;
	display: none;
}

#m-text{
	position: absolute;
	display: none;
	z-index: 9001;
}


#optionCarousel {
	position: absolute;
	bottom: 3%;
	left: 2%;
}

#optionList { /*Button style inspired by Google Inbox's Create new email button */
	width: 1.5em;
	height: 1.5em;
	font-size: 2em;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	border-style: none;
	color: white;
}

#optionList:hover{
	background-color: rgba(0, 0, 0, 0.8);
}

.optionButton {
	font-size: 18px;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	border-style: none;
	color: white;
	display: none;
}

.optionButton:hover{
	background-color: rgba(0, 0, 0, 0.8);
}

/* Output Display */
#headingO{
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -150px;
	text-align: center;
	font-size: 24px;
	height: 50px;
	width: 300px;
	z-index: 9001;
}

#sBO{
	position: absolute;
	top: 15%;
	left: 1%;
	width: 30%
}

#sB-nameO{
	display: inline;
	font-size: 20px;
}

#sBInputO a{
	display: block;
	text-decoration: none;
	color: black;
	font-size: 15px;
	border-style: none;
	width: 300px;
	word-wrap: break-word;
}

#sBInputO a:hover{
	font-size: 15px;
	color: #3D3D5C;
	opacity: .75;
}

#m-textO{
	position: fixed;
	left: 23%;
	width: 75%;
	height: 75%;
	top: 15%;
	background-color: #FFFFFF;
	border-width: 2px;
	border-style: groove;
}	

/* Navigation Bar */
.navBar{
	position: relative;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #000029;
	box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5); /* I use rgba here for transparency */
}

#HP.navBar{
	display: none;
}

.navBar a{
	position: relative;
	text-decoration: none;
	display: inline-block;
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	border-radius: 15px;
	font-family: 'Trebuchet MS';
}

.navBarRight{
	position: relative;
	float: right;
	list-style-type: none;
	right: 4%;
	display: -webkit-box;
}

.navBarRight > li {
	display: inline;
	margin: 0px;
}

.navBarRight a{
	position: relative;
	top: 5px;
	background-color: #3D5C99;
}

.navBarRight a:hover{
	position: relative;
	background-color: #334C80;
}

.navBar a:link{
	color: white;
}

.navBar a:visited{
	color: white;
}

#home{
	background-color: #3D7A99;
	text-align: center;
	left: 10%;
	font-size: 25px; 
	border-radius: 25px;
}

#home:hover{
	background-color: #5CE68A;
}

#userSite {
	background-color: #3D6629;
}

#userSite:hover {
	background-color: #2E4C1F;
}

#gitLink {
	background-color: #804C80;
}

#gitLink:hover{
	background-color: #663D66;
}

/*Homepage CSS. Different type of fade-in than the modal box (written after the modal box fade in, and was written without external help*/
#headingHP {
	text-align: center;
	margin-top: 5%;
	height: 80px;
	font-size: 4em;
	font-family: 'Century Gothic';
	display: none;
}


/* Sign In Box */
/* The initial method of fade in was from the following website http://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/ */

/*However, after learning a bit more JQuery, I've retroactively applied a different fade in method */

.signIn{
	position: fixed;
	font-family: 'Times New Roman';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 999999;
	display: none;
}

.signIn > table {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
}

#signInClose {
	padding: 3px;
	border-radius: 25px;
	font-size: 10px;
	color: red;
}

/*Sign Up Box*/

.signUp {
	margin-top: 5%;
	margin-left:auto; 
    margin-right:auto;
	display: none;
}

.signUp  td, p, button{
	font-family: 'Century Gothic';
}

.signUp input{
	border-radius: 3px;
	font-family: 'Trebuchet MS';
}

#signInOpen {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	width: 30%;
	margin-left: 45%;
}

/* General user-site directory stylings */
.USdirHeading {
	margin-top: 5%;
	text-align: center;
}

.userDir li{
	list-style-type: none;
}

.userDir a{
	color: black;
	text-decoration:none;
}
	
.userDir > li{
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-style: none;
	border-width: 1px;
	border-bottom-style: solid;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 40%;
	text-align: center;
}


.siteDir  a:hover{
	color: green;
}

.siteDir{
	display: none;
}

/* User specific site directory stylings*/
.uS li{
	list-style-type: none;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-style: none;
	border-width: 1px;
	border-bottom-style: solid;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 40%;
	text-align: center;
}

.uS  a:hover{
	color: green;
}

.uS a{
	text-decoration:none;
	color: black;
}
/* Template Selector Stylings */

.templateIMG {
	position: relative;
	top: 20%;
	float: right;
	margin-right: 25%;
	width: 50%;
	height: auto;
	display: none;
}

.templateChoice {
	margin-left: 2%;
}

.templateRadio {
	margin-left: 2%;
	list-style-type: none;
	visibility: hidden;
}

#submitButton {
	margin-left: 3%;
}

.templateRadio:checked + label {
	color: red;
}

/* About Us Formatting */
.centerText {
	width: 50%;
	text-indent: 50px;
	margin-left: auto;
	margin-right: auto;
}

#bordered {
	border-bottom-style: solid;
	border-width: 1px;
}